Importing the necessary libraries

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup #Python library called BeautifulSoup
import re

#For Berlin City

# Data Scraping

## Berlin

In [2]:
#Loading the HTML
url_berlin = "https://en.wikipedia.org/wiki/Berlin"  # The page we want to scrap data from

response_berlin = requests.get(url_berlin) # Getting the response

soup_berlin = BeautifulSoup(response_berlin.content, 'html.parser') # Creating the soup

### Country

In [3]:
country_b = soup_berlin.select('a[href][title="Germany"]')
country_b[0].get_text()

'Germany'

In [30]:
# Other option
soup_berlin.find_all(class_='infobox-data')

[<td class="infobox-data">Germany</td>,
 <td class="infobox-data"><a href="/wiki/Boroughs_and_neighborhoods_of_Berlin" title="Boroughs and neighborhoods of Berlin">Berlin</a></td>,
 <td class="infobox-data agent"><a href="/wiki/Abgeordnetenhaus_of_Berlin" title="Abgeordnetenhaus of Berlin">Abgeordnetenhaus of Berlin</a></td>,
 <td class="infobox-data"><a href="/wiki/Kai_Wegner" title="Kai Wegner">Kai Wegner</a> (<a href="/wiki/Christian_Democratic_Union_of_Germany" title="Christian Democratic Union of Germany">CDU</a>)</td>,
 <td class="infobox-data">4 (of 69)</td>,
 <td class="infobox-data"><a href="/wiki/Results_of_the_2021_German_federal_election#Berlin" title="Results of the 2021 German federal election">29 (of 736)</a></td>,
 <td class="infobox-data">891.3¬†km<sup>2</sup> (344.1¬†sq¬†mi)</td>,
 <td class="infobox-data">3,743¬†km<sup>2</sup> (1,445¬†sq¬†mi)</td>,
 <td class="infobox-data">30,546¬†km<sup>2</sup> (11,794¬†sq¬†mi)</td>,
 <td class="infobox-data">34¬†m (112¬†ft)</td>,
 <td class="infobox-data">3,878,100</td>,
 <td class="infobox-data"><a href="/wiki/List_of_European_cities_by_population_within_city_limits" title="List of European cities by population within city limits">5th</a> in Europe<br/><a href="/wiki/List_of_cities_in_Germany_by_population" title="List of cities in Germany by population">1st</a> in Germany</td>,
 <td class="infobox-data">4,213/km<sup>2</sup> (10,910/sq¬†mi)</td>,
 <td class="infobox-data">4,768,142</td>,
 <td class="infobox-data">1,274/km<sup>2</sup> (3,300/sq¬†mi)</td>,
 <td class="infobox-data">6,144,600</td>,
 <td class="infobox-data">201/km<sup>2</sup> (520/sq¬†mi)</td>,
 <td class="infobox-data">Berliner(s) (English)<br/>Berliner (m), Berlinerin (f) (German)</td>,
 <td class="infobox-data">‚Ç¨179.379 billion (2022)</td>,
 <td class="infobox-data">‚Ç¨268.179 billion (2022)</td>,
 <td class="infobox-data"><a href="/wiki/UTC%2B01:00" title="UTC+01:00">UTC+01:00</a> (<a href="/wiki/Central_European_Time" title="Central European Time">CET</a>)</td>,
 <td class="infobox-data"><a href="/wiki/UTC%2B02:00" title="UTC+02:00">UTC+02:00</a> (<a href="/wiki/Central_European_Summer_Time" title="Central European Summer Time">CEST</a>)</td>,
 <td class="infobox-data"><a href="/wiki/List_of_dialling_codes_in_Germany#030_‚Äì_Berlin" title="List of dialling codes in Germany">030</a></td>,
 <td class="infobox-data nickname"><a href="/wiki/Nomenclature_of_Territorial_Units_for_Statistics" title="Nomenclature of Territorial Units for Statistics">NUTS Region</a>: DE3</td>,
 <td class="infobox-data nickname">DE-BE</td>,
 <td class="infobox-data">B</td>,
 <td class="infobox-data"><a href="/wiki/.berlin" title=".berlin">.berlin</a></td>,
 <td class="infobox-data">0.959<sup class="reference" id="cite_ref-GlobalDataLab_9-0"><a href="#cite_note-GlobalDataLab-9">[9]</a></sup><br/><style data-mw-deduplicate="TemplateStyles:r1220487116">html.skin-theme-clientpref-night .mw-parser-output div:not(.notheme)>.tmp-color,html.skin-theme-clientpref-night .mw-parser-output p>.tmp-color,html.skin-theme-clientpref-night .mw-parser-output table:not(.notheme) .tmp-color{color:inherit!important}@media(prefers-color-scheme:dark){html.skin-theme-clientpref-os .mw-parser-output div:not(.notheme)>.tmp-color,html.skin-theme-clientpref-os .mw-parser-output p>.tmp-color,html.skin-theme-clientpref-os .mw-parser-output table:not(.notheme) .tmp-color{color:inherit!important}}</style><span class="tmp-color" style="color:green">very high</span> ¬∑ <a href="/wiki/List_of_German_states_by_Human_Development_Index" title="List of German states by Human Development Index">2nd of 16</a></td>,
 <td class="infobox-data"><span class="url"><a class="external text" href="https://www.berlin.de/en/" rel="nofollow">berlin.de</a></span></td>]

In [4]:
#Only interested in the 1st line thus we can use find() instead of find_all()
soup_berlin.find(class_='infobox-data')

In [5]:
#Extracting the text from the above element
soup_berlin.find(class_='infobox-data').get_text()

'Germany'

### Latitude

In [6]:
latitude_berlin = soup_berlin.find('span', class_='latitude').get_text()

print(f"Latitude: {latitude_berlin}")

Latitude: 52¬∞31‚Ä≤12‚Ä≥N

### Longitude

In [7]:
longitude_berlin = soup_berlin.find('span', class_='longitude').get_text()

print(f"longitude: {longitude_berlin}")

longitude: 13¬∞24‚Ä≤18‚Ä≥E

## Hamburg

In [8]:
#Loading the HTML
url_hamburg = "https://en.wikipedia.org/wiki/Hamburg"  # The page we want to scrap data from

response_hamburg = requests.get(url_hamburg) # Getting the response

soup_hamburg = BeautifulSoup(response_hamburg.content, 'html.parser') # Creating the soup

### Country

In [9]:
country_h = soup_hamburg.select('a[href][title="Germany"]')
country_h[0].get_text()

'Germany'

### Latitude

In [10]:
latitude_hamburg = soup_hamburg.find('span', class_='latitude').get_text()

print(f"Latitude: {latitude_hamburg}")

Latitude: 53¬∞33‚Ä≤N

### Longitude

In [11]:
longitude_hamburg = soup_hamburg.find('span', class_='longitude').get_text()

print(f"longitude: {longitude_hamburg}")

longitude: 10¬∞00‚Ä≤E

## Munich

In [12]:
#Loading the HTML
url_munich = "https://en.wikipedia.org/wiki/Munich"  # The page we want to scrap data from

response_munich = requests.get(url_munich) # Getting the response

soup_munich = BeautifulSoup(response_munich.content, 'html.parser') # Creating the soup

### Country

In [13]:
country_m = soup_munich.select('a[href][title="Germany"]')
country_m[0].get_text()

'Germany'

### Latitude

In [14]:
latitude_munich = soup_munich.find('span', class_='latitude').get_text()

print(f"Latitude: {latitude_munich}")

Latitude: 48¬∞08‚Ä≤15‚Ä≥N

### Longitude

In [15]:
longitude_munich = soup_munich.find('span', class_='longitude').get_text()

print(f"longitude: {longitude_munich}")

longitude: 11¬∞34‚Ä≤30‚Ä≥E

# Creating the Loop

In [16]:
cities = ["Berlin", "Hamburg", "Munich"]

countries=[]
latitudes=[]
longitudes=[]

for city in cities:
  # getting the soup for city
  url = f"https://www.wikipedia.org/wiki/{city}"
  response = requests.get(url)
  city_soup = BeautifulSoup(response.content, 'html.parser')

# Extracting the data
  city_country = city_soup.find(class_="infobox-data").get_text()
  city_latitude = city_soup.find(class_="latitude").get_text()
  city_longitude = city_soup.find(class_="longitude").get_text()

# Appending to empty lists
  countries.append(city_country)
  latitudes.append(city_latitude)
  longitudes.append(city_longitude)

In [17]:
print(f"The cities are in the following countries: {countries}")
print(f"The cities have the following latitudes: {latitudes}")
print(f"The cities have the following longitudes: {longitudes}")

The cities are in the following countries: ['Germany', 'Germany', 'Germany']
The cities have the following latitudes: ['52¬∞31‚Ä≤12‚Ä≥N', '53¬∞33‚Ä≤N', '48¬∞08‚Ä≤15‚Ä≥N']
The cities have the following longitudes: ['13¬∞24‚Ä≤18‚Ä≥E', '10¬∞00‚Ä≤E', '11¬∞34‚Ä≤30‚Ä≥E']

# Creating Data-Frame

In [19]:
cities_df = pd.DataFrame({"City": cities, "Country":countries, "Latitude": latitudes, "Longitude": longitudes})
cities_df

      City  Country    Latitude   Longitude
0   Berlin  Germany  52¬∞31‚Ä≤12‚Ä≥N  13¬∞24‚Ä≤18‚Ä≥E
1  Hamburg  Germany     53¬∞33‚Ä≤N     10¬∞00‚Ä≤E
2   Munich  Germany  48¬∞08‚Ä≤15‚Ä≥N  11¬∞34‚Ä≤30‚Ä≥E

## Changing the latitudes & longitudes to decimal format

In [20]:
#Installing a python library for the conversion
!pip install lat-lon-parser

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lat-lon-parser in c:\users\user_name\appdata\roaming\python\python311\site-packages (1.3.0)

In [21]:
from lat_lon_parser import parse

parse(latitude_berlin)

52.519999999999996

# Creating a python wrapperüç±

In [22]:
#Installing all the essential libraries first
import pandas as pd
import requests
from bs4 import BeautifulSoup
from lat_lon_parser import parse #For decimal coordinates

In [25]:
def cities_dataframe(cities):

  city_data = []

  for city in cities:
    url = f"https://www.wikipedia.org/wiki/{city}"
    response = requests.get(url)
    city_soup = BeautifulSoup(response.content, 'html.parser')

    # extract the relevant information
    city_latitude = city_soup.find(class_="latitude").get_text()
    city_longitude = city_soup.find(class_="longitude").get_text()
    country = city_soup.find(class_="infobox-data").get_text()

    # Append the information to the empty lists
    city_data.append({"City": city,
                    "Country": country,
                    "Latitude": parse(city_latitude), # latitude in decimal format
                    "Longitude": parse(city_longitude), # longitude in decimal format
                    })

  return pd.DataFrame(city_data)

In [29]:
list_of_cities = ["Berlin", "Hamburg", "Munich"]

cities_df = cities_dataframe(list_of_cities)
cities_df

      City  Country  Latitude  Longitude
0   Berlin  Germany   52.5200     13.405
1  Hamburg  Germany   53.5500     10.000
2   Munich  Germany   48.1375     11.575

In [30]:
#Adding new cities and calling the function will create a new dataframe for those cities
cities_2 = ["Magdeburg", "Barcelona", "Bratislava", "Stuttgart"]

cities_dataframe(cities_2)

         City    Country   Latitude  Longitude
0   Magdeburg    Germany  52.131667  11.639167
1   Barcelona      Spain  41.382778   2.176944
2  Bratislava  ¬†Slovakia  48.143889  17.109722
3   Stuttgart    Germany  48.777500   9.180000

# Scraping Population

In [42]:
Berlin_Population = soup_berlin.find(string="Population").find_next("td").get_text()
Berlin_Population

'3,878,100'

In [43]:
Berlin_Population_Clean = Berlin_Population.replace(",", "")

In [46]:
Berlin_Population_Clean = int(Berlin_Population_Clean)
Berlin_Population_Clean

3878100

# Updating the loop

In [56]:
from datetime import datetime # to get today's date

cities = ["Berlin", "Hamburg", "Munich"]

# create one single list to keep track of all values (instead of having separate lists)
population_data = []

for city in cities:
    url = f"https://www.wikipedia.org/wiki/{city}"
    response = requests.get(url)
    city_soup = BeautifulSoup(response.content, 'html.parser')

    # extract the relevant information
    city_population = city_soup.find(string="Population").find_next("td").get_text()
    city_population_clean = city_population.replace(",", "")
    today = datetime.today().strftime("%d.%m.%Y")

    # for each city we append a dictionary of values to the list
    population_data.append({"City": city,
                     "Population": int(city_population_clean),
                     "Timestamp": today
                    })

population_data = pd.DataFrame(population_data)
population_data

      City  Population   Timestamp
0   Berlin     3878100  02.07.2024
1  Hamburg     1964021  02.07.2024
2   Munich     1512491  02.07.2024

# Updating the python wrapperüç±

In [59]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from datetime import datetime # to get today's date


def populations_dataframe(cities):

    population_data = []

    for city in cities:
        url = f"https://www.wikipedia.org/wiki/{city}"
        response = requests.get(url)
        city_soup = BeautifulSoup(response.content, 'html.parser')

        # extract the relevant information
        city_population = city_soup.find(string="Population").find_next("td").get_text()
        city_population_clean = int(city_population.replace(",", ""))
        today = datetime.today().strftime("%d.%m.%Y")

        # keep track of data per city
        population_data.append({"City": city,
                        "Population": city_population_clean,
                        "Timestamp": today
                        })

    return pd.DataFrame(population_data)

In [60]:
# call the populations function
cities = ["Berlin", "Hamburg", "Munich"]

population_df = populations_dataframe(cities)
population_df

      City  Population   Timestamp
0   Berlin     3878100  02.07.2024
1  Hamburg     1964021  02.07.2024
2   Munich     1512491  02.07.2024